.chat-side
  .side-item
    .box
      %p.box__name masa
      %ul.icons
        %li.icons__groupsystem
          %a{:href => "/groupsystem/"}
            %i.fas.fa-edit
        %li.icons__editname
          %a{:href => "/editname/"}
            %i.fas.fa-cog

  .detalls
    %a{:href => "/detalls/21871/messages"}
      .menus
        %p.menus__groups e68
        %p.menus__messages まだメッセージがありません