.chat-side
  .chat-side__item
    .chat-side__item--box
      %p.chat-side-item__box--name masa
      %ul.chat-side__item--box--icons
        %li.chat-side-item-box__icons--group-sistem
          %a{:href => "/groupsystem/"}
            %i.fas.fa-edit
        %li.chat-side-item-box__icons--edit-name
          %a{:href => "/editname/"}
            %i.fas.fa-cog

  .chat-side__detalls
    %a{:href => "/detalls/21871/messages"}
      .chat-side__detalls--menus
        %p.chat-side-detalls__menus--groups e68
        %p.chat-side-detalls__menus--messages まだメッセージがありません
