.chat-side
  .side-item
    .side-item__box
      %p.side-item__box__name masa
      %ul.side-item__box__icons
        %li.side-item__box__icons__new-group
          %a{:href => "/groups/new"}
            %i.fas.fa-edit
        %li.side-item__box__icons__edit-name
          %a{:href => "/users/16757/edit"}
            %i.fas.fa-cog

  .detalls
    %a{:href => "/detalls/21635/messages"}
      .detall
        %p.detall__menu-groups e68
        %p.detall__menu-messages まだメッセージがありません